/* list.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5a5555; /* Cor de fundo escura */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
}

.container {
    width: 90%; /* Largura em porcentagem para responsividade */
    max-width: 800px; /* Largura máxima para o container */
    background-color: rgb(0, 0, 0); /* Fundo do container */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do container */
}

h2 {
    color: rgb(70, 66, 66); /* Cor do título */
    margin-bottom: 20px;
}

table {
    width: 100%; /* Largura total da tabela */
    border-collapse: collapse; /* Remove espaços entre células */
    margin-bottom: 20px; /* Margem abaixo da tabela */
}

thead {
    background-color: #333; /* Fundo do cabeçalho da tabela */
}

th, td {
    padding: 10px;
    text-align: left; /* Alinhamento à esquerda */
    border-bottom: 1px solid #ddd; /* Linha abaixo das células */
}

th {
    color: white; /* Cor do texto no cabeçalho */
}

tr:hover {
    background-color: #444; /* Efeito hover nas linhas */
}

td{
    color: white;
}
.btn {
    display: block; /* Exibe como bloco */
    width: 100%; /* Largura total do botão */
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    padding: 14px;
    margin: 10px 0; /* Margem em cima e embaixo */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049; /* Efeito hover do botão */
}

a {
    text-decoration: none; /* Remove sublinhado */
    color: #4CAF50; /* Cor do link */
    display: inline-block; /* Exibe como bloco em linha */
    margin-top: 15px; /* Margem acima do link */
}

a:hover {
    text-decoration: underline; /* Efeito hover do link */
}

p {
    color: #666; /* Cor dos parágrafos */
    margin-bottom: 15px;
    text-align: center; /* Centraliza o texto dos parágrafos */
}
